<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <display-name>sddMyAdmin</display-name>
  
  <listener>
    <listener-class>de.metalcon.sdd.admin.Server</listener-class>
  </listener>
  
  <servlet>
    <servlet-name>fileServlet</servlet-name>
    <servlet-class>de.metalcon.sdd.admin.FileServlet</servlet-class>
    <init-param>
      <param-name>basePath</param-name>
      <param-value>/resources</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>de.metalcon.sdd.admin.Index</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Db</servlet-name>
    <servlet-class>de.metalcon.sdd.admin.Db</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Config</servlet-name>
    <servlet-class>de.metalcon.sdd.admin.Config</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>fileServlet</servlet-name>
    <url-pattern>/resources/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Db</servlet-name>
    <url-pattern>/db</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Config</servlet-name>
    <url-pattern>/config</url-pattern>
  </servlet-mapping>
</web-app>