<?xml version="1.0"?>
<sdd-config>
  <leveldb path="/usr/share/sdd/leveldb"/>
  <neo4j path="/usr/share/sdd/neo4j"/>
  <transaction-mode>single</transaction-mode>
  
  <details>
    <detail name="nested"/>
    <detail name="properties"/>
  </details>
  
  <nodes>
    <node type="Band">
      <property name="name" type="String"/>
      <property name="desc" type="String"/>
      <relation name="records" type="Record[]"/>
      <relation name="users" type="User[]"/>

      <output detail="nested">
        <out-property property="name"/>
        <out-property property="desc"/>
        <out-relation relation="records" detail="properties"/>
        <out-relation relation="users" detail="properties"/>
      </output>

      <output detail="properties">
        <out-property property="name"/>
        <out-property property="desc"/>
      </output>
    </node>

    <node type="Record">
      <property name="name" type="String"/>
      <property name="release" type="String"/>
      <relation name="bands" type="Band[]]"/>
      <relation name="users" type="User[]"/>

      <output detail="nested">
        <out-property property="name"/>
        <out-property property="release"/>
        <out-relation relation="records" detail="properties"/>
        <out-relation relation="users" detail="properties"/>
      </output>

      <output detail="properties">
        <out-property propert="name"/>
        <out-property propert="release"/>
      </output>
    </node>

    <node type="User">
      <property name="name" type="String"/>
      <relation name="bands" type="Band[]"/>
      <relation name="records" type="Record[]"/>

      <output detail="nested">
        <out-property name="name"/>
        <out-relation relation="records" detail="properties"/>
        <out-relation relation="users" detail="properties"/>
      </output>

      <output detail="properties">
        <out-property name="name"/>
      </output>
    </node>
  </nodes>
</sdd-config>