html, body {
    margin: 0;
    padding: 0;
}

body {
    margin: 1em;
    font: 1em sans-serif;
}

h1 {
    margin: .5em 0;
    padding: 0;
    font: bold 1.6em sans-serif;
}

h1 a {
    text-decoration: none;
    color: black;
}

h2 {
    margin: 0;
    padding: 1em 0;
    font: bold 1.4em sans-serif;
}

h3 {
    margin: 0;
    padding: .2em;
    background: #CCC;
    font: bold 1.2em sans-serif;
    border-bottom: 3px solid black;
}

h4 {
    margin: 0;
    padding: .2em;
    color: white;
    background: black;
    font: bold 1.1em monospace;
}

h5 {
    margin: 0;
    padding: 0;
    font: bold .9em monospace;
}

#nav, #nav li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#nav {
    padding: .6em;
    background: #EEE;
    border-bottom: 5px solid #CCC;
}

#nav li {
    margin: 0 .5em;
    padding: .6em 1em;
    display: inline;
    border-bottom: 5px solid black;
}

#nav li a {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
}

table, p, ul, li {
    margin: 0;
    padding: 1em 0 .3em 0;
    padding-left: 1em;
    background: #EEE;
    font-family: monospace;
}

table {
    padding: .2em;
    padding-left: 1em;
    width: 100%;
    border-spacing: 0;
}

td {
    padding: .1em;
    vertical-align: top;
}

li:nth-child(odd), tr:nth-child(odd) {
    background: #CCC;
}

li:nth-child(even), tr-nth-child(even) {
    background: #EEE;
}

table td:first-child {
    width: 8em;
}

ul {
    padding: .2em;
    padding-left: 2em;
}

ul ul {
    padding-left: 1em;
}

li {
    padding: 0;
    list-style-type: square;
}

p {
    padding-left: .5em;
    font: .9em sans-serif;
}

pre {
    margin: 0;
    padding: 0;
}
